$c-black: #323c47;
$c-white: #fff;

$c-gray-help: #818E9B;

$c-background: #f5f6f8;
$c-border: #d3d8dd;

$c-red: #f7685b;
$c-yellow: #FFB946;
$c-blue: #109CF1;
$c-blue-light: #34AFF9;
$c-blue-dark: #098EDF;

$box-shadow-default: 0px 6px 18px rgba(0, 0, 0, 0.06);
