@import 'src/assets/styles/_services.scss';
$c-green-transparent: rgba(0, 185, 86, 0.14);

.root {
  appearance: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 42px;
  border-radius: 4px;
  font-size: $font-size-base;
  font-family: $font-family-base;
  text-align: center;
  border: none;
  padding: 0 32px;
  cursor: pointer;
  transition: 0.25s ease-in-out;
  color: $c-black;
}

.theme {
  &-blue {
    background: $c-blue;
    color: $c-white;
    font-weight: 500;
    min-width: 160px;

    &:hover {
      background: $c-blue-light;
      box-shadow: 0 8px 16px rgba(52, 175, 249, 0.2);
    }

    &:active {
      background: $c-blue-dark;
      box-shadow: none;
    }
  }
}
